.footer {
padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer__container {
display: flex;
    align-items: center;
}
.footer__container-address {
width: 231px;
}
.footer__container-social-network {
margin-left: 70px;
}
.footer__text-invitations {
margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__list {
display: flex;
}
.footer__items {
 margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
.footer__link {
display: inline-block;
    text-align: center;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 250ms $cubic-bezier,
        background-color 250ms $cubic-bezier;

        .footer__items:hover & {
            transform: rotateZ(360deg);
                background-color: $accent-color;
        }
        &:focus {
            transform: rotateZ(360deg);
                background-color: $accent-color;
        }
}
.footer__social-network-icon {
width: 20px;
    height: 20px;
    fill: #fff;
}


