.overlay {
    position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 250ms $cubic-bezier;

        .thumb:hover & {
            transform: translateY(0);
        }
}
.overlay__text {
    width: 322px;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
}