h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: $complementary-color-text;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
input {
    padding: 0;
    margin: 0;
}
