$main-background-color: #ffffff;
$praimary-color-text: #757575;
$complementary-color-text: #212121;
$accent-color: #2196F3;
$icon-color: #AFB1B8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$complementary-font: 'Raleway', sans-serif;